<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/register">
    <table>
        <tr>
            <td colspan="2">
                请填写信息
            </td>
        </tr>
        <tr>
            <td>账号：</td>
            <td>
                <input type="text" name="userName">
            </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td>
                <input type="text" name="userPassword">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">提交</button>

            </td>
        </tr>
    </table>
</form>

</body>
</html>